<template>
  <div id="app">
    <nut-init-page :sliders="sliders">
      <router-view/>
    </nut-init-page>
  </div>
</template>

<script>
export default {
  data () {
    return {
      sliders: [
        {
          name: '首页',
          path: '/'
        },
        {
          name: '关于',
          child: [
            {
              name: '蜂校',
              path: '/about'
            }
          ]
        }
      ]
    }
  }
}
</script>

<style lang="less">

</style>
